/*SmartS3 Shortcode Generator CSS*/

body {
	background: #fff;
}

.center {
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
}

.s3m-pop {
	 padding: 15px;
	 background: #fff;
}

.s3m-pop h2 {
	margn-bottom: 15px;
}

.s3m-error {
	margin: 10px 0;
	background: #bfbfbf;
	border: 2px solid #6c6c6c;
	padding: 10px;
}

.s3m-error p {
	 margin: 0;
}

.s3m-bucket-name {
	font-size: 14px;
	font-weight: bold;
}

.s3m-pop-header {
	background: #f9f9f9;
	border-bottom: 1px solid #dfdfdf;
}

.s3m-pop-header ul {
	margin: 10px 0 9px 15px;
	padding: 0;
	list-style-type: none;
}

.s3m-pop-header ul li {
	display: inline;
}

.s3m-pop-header ul li a {
	text-decoration: none;
	padding: 7px 10px 12px 10px;
}

.s3m-pop-header ul li a:hover {
	background: #f9f9f9;
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}

.s3m-current {
	background: #fff;
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}

.widefat {
	margin-top: 15px;
}

.s3m-form {
	margin-top: 15px;
}